.no-js{
    background-color: dimgrey;
}
.body1{
    background-color: dimgrey;
}
.grid-x.grid-padding-x.header{
    background-color: #516B75;
    border-radius: 0.3cm;
}
.headlineDate{
    color: white;
    text-decoration-style: solid;
    height: 1.5rem;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;

}
.headline{
    color: white;
    text-decoration-style: solid;
    height: 2rem;
    font-size: 30px;
    font-weight: bold;
    text-align: center;

}
.headlineLogin{
    color: white;
    text-decoration-style: solid;
    height: 2rem;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}
.large-3.cell.header{
    background-color: #353A3B;
    border-radius: 0.3cm;
}
.large-6.cell.header{
    background-color: #353A3B;
    border-radius: 0.3cm;
}
.large-3.cell.main{
    position: relative;
    float: right;
    color: black;
    text-decoration-style: solid;
    background-color: #353A3B;
    border-radius: 0.3cm;
    text-align: center;
    height: auto;
    min-height: 10cm;
}
.large-9.cell.main{
    position: relative;
    float: right;
    background-color: #516B75;
    border-radius: 0.3cm;
    text-align: left;
    color: white;
    height: auto;
    min-height: 10cm;
}
.title-bar-title{
    display: block;
    width: 100%;
    text-align: center;
}
.adminMenu {
    background-color: white;
    color: black;
    width: 100%;
    text-align: left;
}
.backButton{
    color: white;
    text-decoration-style: solid;
    height: 1.5rem;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}
.seeMoreButton{
    color: black;
    text-decoration-style: solid;
    height: 1.5rem;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}
.paginButton{
    color: white;
    text-decoration-style: solid;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.menu {
    background-color: #353A3B;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    margin: 0 auto;
    list-style: none;
}
.menu.li {
    width: 125px;
    transition: background-position-x 0.9s linear;
    text-align: center;
}
.large-10.columns.headerBackButton{
    background-color: #353A3B;
    border-radius: 0.3cm;
}
.register{
    color: white;
    text-decoration-style: solid;
    height: 1.5rem;
    font-size: 15px;
    font-weight: bold;
    text-align: center;

}
.homepageButton{
    color: white;
    text-decoration-style: solid;
    height: 1.5rem;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;

}